/*generalisasi container*/
.container {
    width: 100%;
    color: white;
    margin: 0 auto;
    padding: 0px 15px;
}

/*generalisasi btn (cek bila ada yg sama)*/

.btn {
    display: inline-block;
}

/*heading berjarak 141px dari main*/
.heading {
    position: absolute;
    width: 100%;
    height: 39px;
    left: 0px;
    top: 1044px;    text-align: center;
    color: #333333;
    padding-top: 141px;
    padding-bottom: 13px;
}

.heading h2{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 35px;
    font-family: Puritan;    
}
.message-wrapper {

    text-align: center;
}
.message {
    position: absolute;
    width: 25%;
    height: 50px;
    left: 250px;
    top: 1300px;    
    background-color: #219653;
    padding: 32px 320px;
    box-shadow: 0 9px #27ae60;
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: 5px;
    font-family: Playfair Display SC;
    font-size: 40px;
    line-height: 53px;
    font-weight: bold;
}



/*animasi tombol subscribe*/
.message:active {
    position: relative;  
    left: -15px;
    top: 1291px;
    box-shadow: none;
}
header {
    position: absolute;
    width:360px;
    height:90px;
    padding-left:22px;
    padding-top:2px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color:#DFF9FB;
}

.section-title {
    position: absolute;
    width: 494px;
    height: 50px;
    left: 473px;
    top: 548px;
    
    font-family: Puritan;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #B0413E;
}

.card {
    box-shadow: 0 5px 10px 0 grey;
    border-radius: 15px;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#image-contents-1 {
    position: absolute;
width: 240px;
height: 240px;
left: 180px;
top: 650px;

background: url(image);
border-radius: 25px;
}

#image-contents-2 {
    position: absolute;
width: 240px;
height: 240px;
left: 600px;
top: 650px;

background: url(image);
border-radius: 25px;
}

#image-contents-3 {
    position: absolute;
width: 240px;
height: 240px;
left: 1020px;
top: 650px;

background: url(image);
border-radius: 25px;
}
