/*generalisasi container*/
.container {
    width: 100%;
    color: white;
    margin: 0 auto;
    padding: 0px 15px;
}

/*generalisasi btn (cek bila ada yg sama)*/

.btn {
    display: inline-block;
}

/*heading berjarak 141px dari main*/
.heading {
    text-align: center;
    color: #333333;
    padding-top: 141px;
    padding-bottom: 13px;
}

.heading h2{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 35px;
    font-family: Puritan;    
}

.message-wrapper {
    padding-bottom: 44px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.message {
    background-color: #219653;
    padding: 32px 320px;
    box-shadow: 0 9px #27ae60;
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: 5px;
    font-family: Playfair Display SC;
    font-size: 40px;
    line-height: 53px;
    font-weight: bold;
}



/*animasi tombol subscribe*/
.message:active {
    position: relative;
    top: 9px;
    box-shadow: none;
}
header {
    width:100%;
    position: absolute;
    width:360px;
    height:90px;
    padding-left:22px;
    padding-top:2px;
    font-family: ;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.8);

}
.header-right {
    float: right;
    margin-right: 36px;
}
.header-left {
    float: left;
    margin-left:22px;
    color:#DFF9FB;
}
.header-right a {
    line-height: 42px;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    position: absolute;
}

.section-title {
    position: absolute;
    width: 494px;
    height: 50px;
    left: 473px;
    top: 548px;
    
    font-family: Puritan;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #B0413E;
}
.footer-list {
    position: absolute;
    width: 1440px;
    height: 139px;
    left: 0px;
    top: 1261px;
    background: rgba(0, 0, 0, 0.8);
}
.footer-list li {
    position: absolute;
    width: 62px;
    height: 30px;
    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

}

.card {
    box-shadow: 0 5px 10px 0 grey;
    border-radius: 15px;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#image-contents-1 {
    position: absolute;
width: 240px;
height: 240px;
left: 180px;
top: 650px;

background: url(image);
border-radius: 25px;
}

#image-contents-2 {
    position: absolute;
width: 240px;
height: 240px;
left: 600px;
top: 650px;

background: url(image);
border-radius: 25px;
}

#image-contents-3 {
    position: absolute;
width: 240px;
height: 240px;
left: 1020px;
top: 650px;

background: url(image);
border-radius: 25px;
}